name: Update status on project board
on:
  #repository_dispatch:
  #  types: [status_update]
  issues:
    types:
      - closed
jobs:
  update_project:
    runs-on: ubuntu-latest
    steps:
      - name: Read status
        id: read_status
        uses: github/update-project-action@v2
        with:
          github_token: ${{ secrets.STATUS_UPDATE_TOKEN }}
          organization: SnabbGET
          project_number: 1
          operation: read
          content_id: 23#${{ github.event.client_payload.command.resource.id }}
      - name: Output status
        run: |
          echo "Current status value: ${{ steps.read_status.outputs.field_read_value }}"
      - name: Update status
        id: update_status
        uses: github/update-project-action@v2
        with:
          github_token: ${{ secrets.STATUS_UPDATE_TOKEN }}
          organization: SnabbGET
          project_number: 1
          content_id: ${{ github.event.client_payload.command.resource.id }}
          field: 0..10
          value: -1
